flows_sinrabbit.json
[
    {
        "id": "bd2f433aa3515a2e",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d9ae16420486674",
        "type": "inject",
        "z": "bd2f433aa3515a2e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "{   \"tipo\": \"Huida\",   \"identificador\": \"perro_test\",   \"data_json\": {     \"velocidad\": 40,     \"ubicacion\": \"Parque\"   },   \"fecha\": \"2025-12-08T12:00:00Z\" }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"tipo\": \"Huida\",   \"identificador\": \"perro_test\",   \"data_json\": {     \"velocidad\": 40,     \"ubicacion\": \"Parque\"   },   \"fecha\": \"2025-12-08T12:00:00Z\" }",
        "payloadType": "json",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "570c93bbd6f7ab5b"
            ]
        ]
    },
    {
        "id": "ca587933e122eaf6",
        "type": "debug",
        "z": "bd2f433aa3515a2e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "570c93bbd6f7ab5b",
        "type": "function",
        "z": "bd2f433aa3515a2e",
        "name": "function 1",
        "func": "// Construir la query\nmsg.topic = \"INSERT INTO eventos (tipo, identificador, data_json, fecha) VALUES (?,?,?,?);\";\n\n// Construir parámetros\nmsg.payload = [\n    msg.payload.tipo,\n    msg.payload.identificador,\n    JSON.stringify(msg.payload.data_json),  // IMPORTANTE\n    msg.payload.fecha\n];\n\n// Debug opcional\nnode.warn(\"Insertando:\");\nnode.warn(msg.topic);\nnode.warn(msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "e5b5338101d1d9bf",
                "9c4ca7e510b921e9"
            ]
        ]
    },
    {
        "id": "e5b5338101d1d9bf",
        "type": "sqlite",
        "z": "bd2f433aa3515a2e",
        "mydb": "db8009aa31228328",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 660,
        "y": 220,
        "wires": [
            [
                "73eaea0b292ea0a8"
            ]
        ]
    },
    {
        "id": "73eaea0b292ea0a8",
        "type": "function",
        "z": "bd2f433aa3515a2e",
        "name": "function 2",
        "func": "if (msg.sqlite) {\n    msg.payload = {\n        ok: true,\n        changes: msg.sqlite.changes,\n        id: msg.sqlite.lastID\n    };\n} else {\n    msg.payload = \"INSERT realizado correctamente\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 220,
        "wires": [
            [
                "ca587933e122eaf6"
            ]
        ]
    },
    {
        "id": "9c4ca7e510b921e9",
        "type": "function",
        "z": "bd2f433aa3515a2e",
        "name": "function 3",
        "func": "let arr = msg.payload;\n\nlet jsonPretty = \"\";\ntry {\n    jsonPretty = JSON.stringify(JSON.parse(arr[2]), null, 2);\n} catch(e){\n    jsonPretty = arr[2];\n}\n\nmsg.payload = {\n    tipo: arr[0],\n    identificador: arr[1],\n    data_json: jsonPretty,\n    fecha: arr[3]\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "b03db16d4e58d863"
            ]
        ]
    },
    {
        "id": "b03db16d4e58d863",
        "type": "ui_template",
        "z": "bd2f433aa3515a2e",
        "group": "bbae594b77c529dd",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .card {\n        background: #cfe8ff;\n        /* azul pastel */\n        border-radius: 18px;\n        padding: 20px;\n        font-family: Arial;\n        color: #00324d;\n        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);\n        border: 1px solid #a9d3ff;\n    }\n\n    .title {\n        font-size: 20px;\n        font-weight: bold;\n        margin-bottom: 10px;\n    }\n\n    .box {\n        background: white;\n        border-radius: 12px;\n        padding: 12px;\n        margin-top: 10px;\n        white-space: pre-wrap;\n    }\n\n    .label {\n        font-weight: bold;\n    }\n</style>\n\n<div class=\"card\">\n\n    <div class=\"title\">Evento recibido</div>\n\n    <div><span class=\"label\">Tipo: </span>{{msg.payload.tipo}}</div>\n    <div><span class=\"label\">Identificador: </span>{{msg.payload.identificador}}</div>\n    <div><span class=\"label\">Fecha: </span>{{msg.payload.fecha}}</div>\n\n    <div>\n        <span class=\"label\">Data JSON:</span>\n        <div class=\"box\">{{msg.payload.data_json}}</div>\n    </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "db8009aa31228328",
        "type": "sqlitedb",
        "db": "mascotas",
        "mode": "RWC"
    },
    {
        "id": "bbae594b77c529dd",
        "type": "ui_group",
        "name": "Smart Pet Collar",
        "tab": "3e5a8e1fab5d7696",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e5a8e1fab5d7696",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7444b858292a0113",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1",
            "node-red-dashboard": "3.6.6"
        }
    }
]